<!-- <div class="container">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">username</span>
      </div>
      <input type="text" class="form-control"
      [(ngModel)]="userName">
    </div>
    
<div class="d-flex justify-space-between">
<app-card [product]="newProduct" [onSale]="true" ></app-card>
<app-card [product]="anotherProduct"></app-card>
<div>
    <h4>extra options</h4>
    <div class="form-check">
      <input class="form-check-input"
       type="checkbox"
        id="isWireless"
        [(ngModel)]="extraOptions.isWireless">
      <label class="form-check-label" for="isWireless">
        wireless
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input"
       type="checkbox"
      id="hasWarranty" 
      [(ngModel)]="extraOptions.hasWarranty">
      <label class="form-check-label" for="hasWarranty">
        warranty
      </label>
    </div>
    <br>
    <h4>shipping method</h4>
    <div class="form-check">
      <input class="form-check-input"
       type="radio"
        name="express"
         id="express"
         value="express"
         [(ngModel)]="shippingMethod">
      <label class="form-check-label" for="express">
  express    </label>
    </div>
    <div class="form-check">
      <input class="form-check-input"
       type="radio"
        name="standard"
         id="standard" 
         value="standard"
         [(ngModel)]="shippingMethod">
      <label class="form-check-label" for="standard">
  standard    </label>
    </div>
    <button class="btn btn-primary" (click)="getInfo()">check out</button>
  </div> -->
  <app-dashboard ></app-dashboard>
 
  